@{
    ViewBag.Title = "Blow Out!";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">We blow our competitors out of the water.</p><br />
    <p class="quoteText">
        <i>
            "It's easy to play any musical instrument: all you have to do is touch the right
            key at the right time and the instrument will play itself”.
        </i> -Johann Sebastian Bach
    </p>
    <center><img src="~/Content/Images/main.jpg" class="myMainImage" /></center>
</div>
