@{
    ViewBag.Title = "Blow Out!";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">We blow our competitors out of the water.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
    </div>
</div>