@{
    ViewBag.Title = "Blow Out!";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>
<body class="backgroundImage">
    <div class="myOpacity jumbotron">
        <h1 class="myText">Welcome to Blow Out!</h1>
        <hr />
        <p class="myText lead">We blow our competitors out of the water.</p><br />
        <div class="container">
            <center><img src="~/Content/Images/andrik-langfield-ITQVgbjG-q4-unsplash.jpg" class="imageOpacity image myMainImage" /></center>
            <div class="middle">
                <input type="button" value="See Instruments" class="button button2" onclick="location.href='@Url.Action("Rentals", "Home")'" />
            </div>
        </div>
        <br />
        <p class="quoteText">
            <i>
                "It's easy to play any musical instrument: all you have to do is touch the right
                key at the right time and the instrument will play itself”.
            </i> -- Johann Sebastian Bach
            <!--This is my comment-->
        </p>
    </div>
</body>
