
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <p class="text-danger">@ViewBag.Valid</p>
    <label for="inputUserName">User Name</label><br />
    @Html.TextBox("UserName")
    <br />
    <label for="inputPassword">Password</label><br />
    @Html.Password("Password")
    <br /><br />
    <button type="submit" class="btn btn-primary btn-lg">Login</button>

}
