
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>
<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<div>
    <center>
        <div class="row">
            <div class="column container">
                <img src="~/Content/Images/trumpet.jpg" class="myInstImage" />
                <img src="~/Content/Images/trombone2.jpg" class="myInstImage" />
                <img src="~/Content/Images/tuba2.PNG" class="myInstImage" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/Content/Images/clarinet.jpg" class="myInstImage" />
                <img src="~/Content/Images/flute.jpg" class="myInstImage" />
                <img src="~/Content/Images/sax2.jpg" class="myInstImage"  />
            </div>
        </div>
    </center>
</div>

