
@{
    ViewBag.Title = "Saxophone";
}

<h2>Saxophone</h2>

<div class="jumbotron">

    <input value="New" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SaxophoneNew", "Instrument")'" /><br /><br />
    <input value="Used" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SaxophoneUsed", "Instrument")'" />
    <br /><br />
    <h3>@ViewBag.PriceInfo</h3>

</div>
<p class="text-muted">
    <ul class="text-muted">
        <li>Once the <strong>18 months</strong> has been achieved, you will own the instrument. </li>
        <li>If you return it at any time before 3 months there will be a <strong>$200</strong> re-stocking fee. </li>
        <li>If you return it after 3 months you <string>forfeit any</string> any equity in the instrument.</li>
    </ul>
</p>