
@{
    ViewBag.Title = "Trumpet";
}

<h2>Trumpet</h2>

<img src="~/Content/Images/trumpet.jpg" class="myInstImage" />
<div>
    <input type="button" value="New" class="button button2" onclick="location.href='@Url.Action("TrumpetNew")'" />
    <input type="button" value="Used" class="button button2" onclick="location.href='@Url.Action("TrumpetUsed")'" />
</div>
<div>
    <h3>Price</h3><br />
    <p>@ViewBag.PriceInfo</p>
</div>