
@{
    ViewBag.Title = "Tuba";
}

<h2>Tuba</h2>

<img src="~/Content/Images/tuba2.PNG" class="myInstImage" />
<div>
    <input type="button" value="New" class="button button2" onclick="location.href='@Url.Action("TubaNew")'" />
    <input type="button" value="Used" class="button button2" onclick="location.href='@Url.Action("TubaUsed")'" />
</div>
<div>
    <h3>Price</h3><br />
    <p>@ViewBag.PriceInfo</p>
</div>
